<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All tasks</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Parent</th>
        <th>Category</th>
        <th>Due date</th>
        <th>Priority</th>
        <th>Done</th>
    </tr>
    {% for task in tasks %}
        <th>{{task.name}}</th>
        <th>{{task.parent}}</th>
        <th>{{task.category.name}}</th>
        <th>{{task.due_date}}</th>
        <th>{{task.priority}}</th>
        <th>{{task.done}}</th>
    {% endfor %}
</table>
</body>
</html>