<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task {{task.id}}</title>
</head>
<body>
    <h1>{{task.name}}</h1>
    <p>Parent: {{task.parent.name}}</p>
    <p>Category: {{task.category.name}}</p>
    <p>Due date: {{task.due_date}}</p>
    <p>Priority: {{task.priority}}</p>
    <p>Done: {{task.done}}</p>
</body>
</html>